@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Federo&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    font-family: "Albert Sans" !important;
    font-weight: 400 !important;
}

.fi-logo {
    font-family: "Federo" !important;
    font-weight: 700 !important;
}

.fi-icon.fi-sidebar-item-icon {
    width: 18px !important;
}